body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/ship.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container form {
    margin-bottom: 20px;
}

.container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container form input[type="text"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container form input[type="submit"] {
    width: 100%; 
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.container form input[type="submit"]:hover {
    background-color: #45a049;
}

.container .result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.container a {
    color: #4caf50;
    text-decoration: none;
    transition: color 0.3s;
}

.container a:hover {
    color: #45a049;
}

